# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Airflow
airflow/logs/

# Spark
spark-warehouse/

# PostgreSQL
postgres/data/

# Docker
*.pid